@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #2e3440;
	color: #e5e9f0;
	font-weight: 500;
}

html,
#root {
	min-height: 100vh;
	box-sizing: border-box;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.2rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.8rem;
}
h6 {
	font-size: 0.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-sans);
	font-weight: bold;
}
